# =========================
# Gradle & Build
# =========================
.gradle/
build/
*/build/

# =========================
# Local Config (IMPORTANT)
# =========================
local.properties

# =========================
# IDE (Android Studio / IntelliJ)
# =========================
.idea/
*.iml

.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Generated / Build Outputs
# =========================
/captures
.externalNativeBuild/
.cxx/

# =========================
# Logs & Temp
# =========================
*.log
*.tmp
*.temp

# =========================
# Keystore (VERY IMPORTANT)
# =========================
*.jks
*.keystore